<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="baidu_union_verify" content="e375dfea1f5937c9114d7fea78c91675">
    <meta name="keywords" content="懂球帝|足球新闻|足球App|足球资讯|足球直播|足球视频|足球比分|中国足球" />
    <title>官方：All Football与水晶宫俱乐部达成合作 — 水晶宫|扎哈|斯佩罗尼|汤姆金斯|范志毅|懂球帝</title>
    <script src="https://static1.dongqiudi.com/web-new/static/js/jQuery.1.11.min.js"></script>
    <link rel="shortcut icon" href="http://static1.dongqiudi.com/web-new/web/images/fav.ico?20170706" type="image/x-icon">
     <link rel="stylesheet" href="https://static1.dongqiudi.com/web-new/web/css/style.css?2017070501"> 
    <link rel="stylesheet" href="https://static1.dongqiudi.com/web-new/web/css/jPaginate.css">


    <!-- 必须样式表 -->
    <link rel="stylesheet" type="text/css" href="saikuang.css">
    <link rel="stylesheet" href="timeline.css">
    <!-- 必须样式表 -->


</head>



<body>

    <!-- 通用标题栏 -->
<div id="header">
    <div class="header_main">
        <div class="header_left">
                            <a href="/" class="logo"><img src="http://static1.dongqiudi.com/web-new/web/images/logo.png?20170622" style="width:120px;padding-top:5px;" alt=""></a>
                        <a href="/" class="nav nav_hover">首页</a>
                            <a href="/match" class="nav">比赛</a>
                <a href="/video" class="nav">视频</a>
                <a href="/data" class="nav">数据</a>
                <a href="/app" class="nav">APP</a>
                <a href="http://hao.dongqiudi.com/home" target="_blank" class="nav">懂球号</a>
            
        </div>
        <div class="header_right">
                                                <a href="/user/login" class="login">登录</a>
                                    </div>
    </div>
</div>
    <!-- 通用标题栏 -->


    <div id="main" class="cf">
        <div id="con" style="padding-top:0;" class="cf">
            <div class="left">
                <div class="match_info">
                    <div class="team">
                        <img class='team_img' src="img/yuanxing2.png" onerror="this.src='http://static1.dongqiudi.com/web-new/web/images/defaultTeam.png'">
                        <div class="team_name">拜仁慕尼黑</div>
                    </div>

                    <div class="stat">
                        <div style="font-size: 16px;margin:2px;height: 28px;">07-26&nbsp&nbsp&nbsp03:45&nbsp&nbsp&nbsp欧冠</div>
                        <div style="font-size: 30px;height: 30px;font-weight: 400;">VS</div>
                    </div>

                    <div class="team">
                        <img class='team_img' src="http://img.dongqiudi.com/data/pic/659.png" onerror="this.src='http://static1.dongqiudi.com/web-new/web/images/defaultTeam.png'">
                        <div class="team_name">萨尔瓦多</div>
                    </div>
                </div>
                <div class="zhibo">
                    <div class="zhibo_title">直播信号：</div>
                    <div class="zhibo_pla">
                        <div><a href="" class="">足球直播网页</a></div>
                        <span class="split"></span>
                        <div><a href="" class="">足球直播(PPTV播放器)</a></div>
                        <span class="split"></span>
                        <div><a href="" class="">足球直播(PPTV播放器)</a></div>
                        <span class="split"></span>
                        <div><a href="" class="">足球直播(PPTV播放器)</a></div>
                        <span class="split"></span>
                        <div><a href="" class="">CCTV5(CNTV无插件)</a></div>
                        <span class="split"></span>
                        <div><a href="" class="">北京电视体育</a></div>
                        <span class="split"></span>
                        <div>CCTV5直播中</div>
                         <span class="split"></span>
                        <div>CCTV11直播中</div>
                        <span class="split"></span>
                        <div>CCTV10直播中</div>
                        <span class="split"></span>
                        <div>CCTV10直播中</div>
                        <span class="split"></span>
                        <div>CCTV10直播中</div>
                        <span class="split"></span>
                        <div>CCTV10直播中</div>
                        <span class="split"></span>
                        <div>CCTV10直播中</div>
                        <span class="split"></span>
                        <div>CCTV10直播中</div> 
                    </div>
                </div>

                <div class="link_list">
                    <div class="link_list_a">
                        <div class="tab_active"><a href="">赛况</a></div>
                        <span class="split"></span>
                        <div><a href="" class="">阵容</a></div>
                        <span class="split"></span>
                        <div><a href="" class="">分析</a></div>
                        <span class="split"></span>
                        <div><a href="" class="">集锦</a></div>
                        <span class="split"></span>
                        <div><a href="" class="">赔率</a></div>
                    </div>
                </div>
                <div class="content_header">
                    <span class="title_player invalid_title">事件</span>
                </div>
                <section>
                    <table class="head">
                        <tbody>
                            <tr>
                                <th class="away">
                                    <a href="dongqiudi:///team/50001117 " class="team">
                            <span class="text_lim">拜仁慕尼黑</span> <img src="http://img.dongqiudi.com/data/pic/1319.png" onerror="this.src='http://static1.dongqiudi.com/web-new/web/images/defaultTeam.png'" alt="">
                        </a>
                                </th>
                                <th class="name">&nbsp;</th>
                                <th class="home">
                                    <a href="dongqiudi:///team/50000512 " class="team">
                            <img src="http://img.dongqiudi.com/data/pic/659.png" onerror="this.src='http://static1.dongqiudi.com/web-new/web/images/defaultTeam.png'" alt=""> <span class="text_lim">萨尔瓦多</span>
                        </a>
                                </th>
                            </tr>
                        </tbody>
                    </table>

                </section>
                <div class="content content_p">
                    <span class="icon_start"></span>
                    <ol id="timeline">
                        <li class="cf">
                            <span class="dot_s"></span>
                        </li>
                        <li class="cf" style="margin-top:20px;">
                            <span class="num">15</span>

                            <div class="away">
                                <span class="arrow"></span>
                                <p>
                                    <a href="dongqiudi:///player/50129082" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/G.png">
                                            <span class="text_lim"> N. Bonilla </span>
                                        </a>
                                </p>
                                <p>
                                    <a href="dongqiudi:///player/50220326" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/AS.png">
                                            <span class="text_lim"> R. Marroquin </span>
                                        </a>
                                </p>
                            </div>
                        </li>
                        <li class="cf" style="margin-top:20px;">
                            <span class="num">46</span>
                            <div class="home">
                                <span class="arrow"></span>
                                <p>
                                    <a href="dongqiudi:///player/50157983" class="person">
                                            <span class="text_lim"> O. Gordon </span>
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SI.png">
                                        </a>
                                </p>
                                <p>
                                    <a href="dongqiudi:///player/50209263" class="person">
                                            <span class="text_lim"> C. Burke </span>
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SO.png">
                                        </a>
                                </p>
                            </div>

                        </li>
                        <li class="cf" style="margin-top:20px;">
                            <span class="num">47</span>
                            <div class="home">
                                <span class="arrow"></span>
                                <p>
                                    <a href="dongqiudi:///player/50112651" class="person">
                                            <span class="text_lim"> R. Williams </span>
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/YC.png">
                                        </a>
                                </p>
                            </div>

                        </li>
                        <li class="cf" style="margin-top:20px;">
                            <span class="num">63</span>

                            <div class="away">
                                <span class="arrow"></span>
                                <p>
                                    <a href="dongqiudi:///player/50196134" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/YC.png">
                                            <span class="text_lim"> N. Orellana </span>
                                        </a>
                                </p>
                            </div>
                        </li>
                        <li class="cf" style="margin-top:20px;">
                            <span class="num">64</span>
                            <div class="home">
                                <span class="arrow"></span>
                                <p>
                                    <a href="dongqiudi:///player/50144408" class="person">
                                            <span class="text_lim"> D. Mattocks </span>
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/PG.png">
                                        </a>
                                </p>
                            </div>

                        </li>
                        <li class="cf" style="margin-top:20px;">
                            <span class="num">65</span>
                            <div class="home">
                                <span class="arrow"></span>
                                <p>
                                    <a href="dongqiudi:///player/50251990" class="person">
                                            <span class="text_lim"> 宾斯 </span>
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SI.png">
                                        </a>
                                </p>
                                <p>
                                    <a href="dongqiudi:///player/50103570" class="person">
                                            <span class="text_lim"> O. Fisher </span>
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SO.png">
                                        </a>
                                </p>
                            </div>

                        </li>
                        <li class="cf" style="margin-top:20px;">
                            <span class="num">70</span>

                            <div class="away">
                                <span class="arrow"></span>
                                <p>
                                    <a href="dongqiudi:///player/50108601" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SI.png">
                                            <span class="text_lim"> Ó. Cerén </span>
                                        </a>
                                </p>
                                <p>
                                    <a href="dongqiudi:///player/50048510" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SO.png">
                                            <span class="text_lim"> G. Mayén </span>
                                        </a>
                                </p>
                            </div>
                        </li>
                        <li class="cf" style="margin-top:20px;">
                            <span class="num">80</span>

                            <div class="away">
                                <span class="arrow"></span>
                                <p>
                                    <a href="dongqiudi:///player/50187603" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SI.png">
                                            <span class="text_lim"> R. Menjívar </span>
                                        </a>
                                </p>
                                <p>
                                    <a href="dongqiudi:///player/50129082" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SO.png">
                                            <span class="text_lim"> N. Bonilla </span>
                                        </a>
                                </p>
                            </div>
                        </li>
                        <li class="cf" style="margin-top:20px;">
                            <span class="num">87</span>

                            <div class="away">
                                <span class="arrow"></span>
                                <p>
                                    <a href="dongqiudi:///player/50387066" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SI.png">
                                            <span class="text_lim"> H. Alas </span>
                                        </a>
                                </p>
                                <p>
                                    <a href="dongqiudi:///player/50196134" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SO.png">
                                            <span class="text_lim"> N. Orellana </span>
                                        </a>
                                </p>
                            </div>
                        </li>
                        <li class="cf" style="margin-top:20px;">
                            <span class="num">87</span>

                            <div class="away">
                                <span class="arrow"></span>
                                <p>
                                    <a href="dongqiudi:///player/50387066" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SI.png">
                                            <span class="text_lim"> H. Alas </span>
                                        </a>
                                </p>
                                <p>
                                    <a href="dongqiudi:///player/50196134" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SO.png">
                                            <span class="text_lim"> N. Orellana </span>
                                        </a>
                                </p>
                                <p>
                                    <a href="dongqiudi:///player/50196134" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SO.png">
                                            <span class="text_lim"> N. Orellana </span>
                                        </a>
                                </p>
                                <p>
                                    <a href="dongqiudi:///player/50196134" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SO.png">
                                            <span class="text_lim"> N. Orellana </span>
                                        </a>
                                </p>
                                <p>
                                    <a href="dongqiudi:///player/50196134" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SO.png">
                                            <span class="text_lim"> N. Orellana </span>
                                        </a>
                                </p>
                                <p>
                                    <a href="dongqiudi:///player/50196134" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SO.png">
                                            <span class="text_lim"> N. Orellana </span>
                                        </a>
                                </p>
                                <p>
                                    <a href="dongqiudi:///player/50196134" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SO.png">
                                            <span class="text_lim"> N. Orellana </span>
                                        </a>
                                </p>
                                <p>
                                    <a href="dongqiudi:///player/50196134" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SO.png">
                                            <span class="text_lim"> N. Orellana </span>
                                        </a>
                                </p>
                            </div>
                        </li>
                        <li class="cf" style="margin-top:20px;">
                            <span class="num">87</span>

                            <div class="away">
                                <span class="arrow"></span>
                                <p>
                                    <a href="dongqiudi:///player/50387066" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SI.png">
                                            <span class="text_lim"> H. Alas </span>
                                        </a>
                                </p>
                                <p>
                                    <a href="dongqiudi:///player/50196134" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SO.png">
                                            <span class="text_lim"> N. Orellana </span>
                                        </a>
                                </p>
                            </div>
                        </li>
                        <li class="cf" style="margin-top:20px;">
                            <span class="num">87</span>

                            <div class="away">
                                <span class="arrow"></span>
                                <p>
                                    <a href="dongqiudi:///player/50387066" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SI.png">
                                            <span class="text_lim"> H. Alas </span>
                                        </a>
                                </p>
                                <p>
                                    <a href="dongqiudi:///player/50196134" class="person">
                                            <img src="http://img.dongqiudi.com/soccer/data/logo/event/SO.png">
                                            <span class="text_lim"> N. Orellana </span>
                                        </a>
                                </p>
                            </div>
                        </li>
                    </ol>
                    <span class="dot"></span>
                    <span class="icon_end"></span>
                </div>
                <div class="show">
                    <div class="show_main">
                        <span><img src="http://static1.dongqiudi.com/web-new/static/api/images/eventpic/icon_goal.png" alt="进球">进球</span>
                        <span><img src="http://static1.dongqiudi.com/web-new/static/api/images/eventpic/icon_point.png" alt="点球">点球</span>
                        <span><img src="http://static1.dongqiudi.com/web-new/static/api/images/eventpic/icon_point_1.png" alt="点球未进">点球未进</span>
                        <span><img src="http://static1.dongqiudi.com/web-new/static/api/images/eventpic/icon_w.png" alt="乌龙球">乌龙球</span>
                        <span><img src="http://static1.dongqiudi.com/web-new/static/api/images/eventpic/icon_a.png" alt="助攻">助攻</span>
                    </div>
                </div>
                <div class="content_header">
                    <span class="title_player invalid_title">技术统计</span>
                </div>
                <section>

                    <table class="head">
                        <tbody>
                            <tr>
                                <th class="away">
                                    <a href="dongqiudi:///team/50001117 " class="team">
                            <span class="text_lim">拜仁慕尼黑</span> <img src="http://img.dongqiudi.com/data/pic/1319.png" onerror="this.src='http://static1.dongqiudi.com/web-new/web/images/defaultTeam.png'" alt="">
                        </a>
                                </th>
                                <th class="name">&nbsp;</th>
                                <th class="home">
                                    <a href="dongqiudi:///team/50000512 " class="team">
                            <img src="http://img.dongqiudi.com/data/pic/659.png" onerror="this.src='http://static1.dongqiudi.com/web-new/web/images/defaultTeam.png'" alt=""> <span class="text_lim">萨尔瓦多</span>
                        </a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <div class="status">
                    <table>
                        <tbody>
                            <tr>
                                <td class="away">
                                    <span class="num">48</span>
                                    <span class="rank">
                        <span class="ranks ranks_l" style="width:48%"></span>
                                    </span>

                                </td>
                                <td class="name">控球率</td>
                                <td class="home">
                                    <span class="rank">
                        <span class="ranks " style="width:52%"></span>
                                    </span>
                                    <span class="num">52</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="away">
                                    <span class="num">8</span>
                                    <span class="rank">
                        <span class="ranks ranks_l" style="width:47%"></span>
                                    </span>

                                </td>
                                <td class="name">射门</td>
                                <td class="home">
                                    <span class="rank">
                        <span class="ranks " style="width:53%"></span>
                                    </span>
                                    <span class="num">9</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="away">
                                    <span class="num">4</span>
                                    <span class="rank">
                        <span class="ranks " style="width:57%"></span>
                                    </span>

                                </td>
                                <td class="name">射正</td>
                                <td class="home">
                                    <span class="rank">
                        <span class="ranks ranks_l" style="width:43%"></span>
                                    </span>
                                    <span class="num">3</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="away">
                                    <span class="num">2</span>
                                    <span class="rank">
                        <span class="ranks " style="width:50%"></span>
                                    </span>

                                </td>
                                <td class="name">封堵</td>
                                <td class="home">
                                    <span class="rank">
                        <span class="ranks " style="width:50%"></span>
                                    </span>
                                    <span class="num">2</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="away">
                                    <span class="num">1</span>
                                    <span class="rank">
                        <span class="ranks " style="width:100%"></span>
                                    </span>

                                </td>
                                <td class="name">点球</td>
                                <td class="home">
                                    <span class="rank">
                        <span class="ranks ranks_l" style="width:0%"></span>
                                    </span>
                                    <span class="num">0</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="away">
                                    <span class="num">10</span>
                                    <span class="rank">
                        <span class="ranks ranks_l" style="width:43%"></span>
                                    </span>

                                </td>
                                <td class="name">任意球</td>
                                <td class="home">
                                    <span class="rank">
                        <span class="ranks " style="width:57%"></span>
                                    </span>
                                    <span class="num">13</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="away">
                                    <span class="num">6</span>
                                    <span class="rank">
                        <span class="ranks " style="width:50%"></span>
                                    </span>

                                </td>
                                <td class="name">角球</td>
                                <td class="home">
                                    <span class="rank">
                        <span class="ranks " style="width:50%"></span>
                                    </span>
                                    <span class="num">6</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="away">
                                    <span class="num">3</span>
                                    <span class="rank">
                        <span class="ranks " style="width:100%"></span>
                                    </span>

                                </td>
                                <td class="name">越位</td>
                                <td class="home">
                                    <span class="rank">
                        <span class="ranks ranks_l" style="width:0%"></span>
                                    </span>
                                    <span class="num">0</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="away">
                                    <span class="num">2</span>
                                    <span class="rank">
                        <span class="ranks ranks_l" style="width:40%"></span>
                                    </span>

                                </td>
                                <td class="name">换人</td>
                                <td class="home">
                                    <span class="rank">
                        <span class="ranks " style="width:60%"></span>
                                    </span>
                                    <span class="num">3</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="away">
                                    <span class="num">10</span>
                                    <span class="rank">
                        <span class="ranks " style="width:50%"></span>
                                    </span>

                                </td>
                                <td class="name">犯规</td>
                                <td class="home">
                                    <span class="rank">
                        <span class="ranks " style="width:50%"></span>
                                    </span>
                                    <span class="num">10</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="away">
                                    <span class="num">1</span>
                                    <span class="rank">
                        <span class="ranks " style="width:50%"></span>
                                    </span>

                                </td>
                                <td class="name">黄牌</td>
                                <td class="home">
                                    <span class="rank">
                        <span class="ranks " style="width:50%"></span>
                                    </span>
                                    <span class="num">1</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="content_header">
                    <span class="title_player invalid_title">相关新闻</span>
                </div>
                <div id="news_list">
                    <ol>
                        <li class="none_news" style="display:none">
                            暂无相关新闻
                        </li>
                        <li><a href="https://www.dongqiudi.com/archive/381401.htmltarget='_blank'">                                            <img src="http://img1.dongqiudi.com/fastdfs1/M00/9B/DA/180x135/crop/-/o4YBAFlstGmASAbbAAEpMXnnNlk374.jpg" alt="中超第17轮国内球员红黑榜：赵旭日双响，三门神上黑榜">                                        </a>
                            <h2> <a href="https://www.dongqiudi.com/archive/381401.html" target="_blank">中超第17轮国内球员红黑榜：赵旭日双响，三门神上黑榜</a>                                </h2>
                            <p></p>
                            <div class="info"> <span class="time">2017-07-17 22:12:18</span> <a class="comment" href="https://www.dongqiudi.com/archive/381401.html"
                                    target="_blank">125</a> </div>
                        </li>
                        <li><a href="https://www.dongqiudi.com/archive/381401.htmltarget='_blank'">                                            <img src="http://img1.dongqiudi.com/fastdfs1/M00/9B/DA/180x135/crop/-/o4YBAFlstGmASAbbAAEpMXnnNlk374.jpg" alt="中超第17轮国内球员红黑榜：赵旭日双响，三门神上黑榜">                                        </a>
                            <h2> <a href="https://www.dongqiudi.com/archive/381401.html" target="_blank">中超第17轮国内球员红黑榜：赵旭日双响，三门神上黑榜</a>                                </h2>
                            <p></p>
                            <div class="info"> <span class="time">2017-07-17 22:12:18</span> <a class="comment" href="https://www.dongqiudi.com/archive/381401.html"
                                    target="_blank">125</a> </div>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="right">
                <div id="news_s_list" class="conFrame">
                    <div class="title cf">
                        <span>相关比赛</span>
                    </div>

                    <a href="https://www.dongqiudi.com/team/50000344.html">

                        <div class="matchItem">
                            <div class="team">
                                <img class='team_img' src="img/yuanxing2.png" onerror="this.src='http://static1.dongqiudi.com/web-new/web/images/defaultTeam.png'">
                                <div class="team_name">拜仁慕尼黑</div>
                            </div>

                            <div class="stat">
                                <div style=" font-size: 12px; font-weight: 500; height: 24px;">友谊赛</div>
                                <div style=" font-size: 18px; font-weight: 500; height: 28px;"> 4 - 0</div>
                            </div>
                            <div class="team">
                                <img class='team_img' src="http://img.dongqiudi.com/data/pic/659.png" onerror="this.src='http://static1.dongqiudi.com/web-new/web/images/defaultTeam.png'">
                                <div class="team_name">萨尔瓦多</div>
                            </div>
                        </div>
                    </a>
                    <a href="https://www.dongqiudi.com/team/50000344.html">

                        <div class="matchItem">
                            <div class="team">
                                <img class='team_img' src="img/yuanxing2.png" onerror="this.src='http://static1.dongqiudi.com/web-new/web/images/defaultTeam.png'">
                                <div class="team_name">拜仁慕尼黑</div>
                            </div>

                            <div class="stat">
                                <div style=" font-size: 12px; font-weight: 500; height: 24px;">友谊赛</div>
                                <div style=" font-size: 18px; font-weight: 500; height: 28px;"> 4 - 0</div>
                            </div>
                            <div class="team">
                                <img class='team_img' src="http://img.dongqiudi.com/data/pic/659.png" onerror="this.src='http://static1.dongqiudi.com/web-new/web/images/defaultTeam.png'">
                                <div class="team_name">萨尔瓦多</div>
                            </div>
                        </div>
                    </a>
                    <a href="https://www.dongqiudi.com/team/50000344.html">

                        <div class="matchItem">
                            <div class="team">
                                <img class='team_img' src="img/yuanxing2.png" onerror="this.src='http://static1.dongqiudi.com/web-new/web/images/defaultTeam.png'">
                                <div class="team_name">拜仁慕尼黑</div>
                            </div>

                            <div class="stat">
                                <div style=" font-size: 12px; font-weight: 500; height: 24px;">友谊赛</div>
                                <div style=" font-size: 18px; font-weight: 500; height: 28px;"> 4 - 0</div>
                            </div>
                            <div class="team">
                                <img class='team_img' src="http://img.dongqiudi.com/data/pic/659.png" onerror="this.src='http://static1.dongqiudi.com/web-new/web/images/defaultTeam.png'">
                                <div class="team_name">萨尔瓦多</div>
                            </div>
                        </div>
                    </a>
                    <a href="https://www.dongqiudi.com/team/50000344.html">

                        <div class="matchItem">
                            <div class="team">
                                <img class='team_img' src="img/yuanxing2.png" onerror="this.src='http://static1.dongqiudi.com/web-new/web/images/defaultTeam.png'">
                                <div class="team_name">拜仁慕尼黑</div>
                            </div>

                            <div class="stat">
                                <div style=" font-size: 12px; font-weight: 500; height: 24px;">友谊赛</div>
                                <div style=" font-size: 18px; font-weight: 500; height: 28px;"> 4 - 0</div>
                            </div>
                            <div class="team">
                                <img class='team_img' src="http://img.dongqiudi.com/data/pic/659.png" onerror="this.src='http://static1.dongqiudi.com/web-new/web/images/defaultTeam.png'">
                                <div class="team_name">萨尔瓦多</div>
                            </div>
                        </div>
                    </a>






                </div>
            </div>

        </div>


    </div>

    <!-- <script src="https://static1.dongqiudi.com/web-new/web/js/common.js?2017042601"></script> -->








</body>

<script type="text/javascript" src="/archive/web/click/381940"></script>
<script type="text/javascript" src="https://static1.dongqiudi.com/web-new/static/js/jquery.pjax.js"></script>
<script type="text/javascript" src="https://static1.dongqiudi.com/web-new/static/js/jsrender/jsrender.min.js"></script>
<script type="text/javascript" src='https://static1.dongqiudi.com/web-new/web/js/main.js'></script>
<script type="text/javascript" src='https://static1.dongqiudi.com/web-new/web/js/vote.js'></script>

<!-- Vote Template 投票模版-->
<script id="voteTemplate" type="text/x-jsrender">
    <div class=vote_box>
        <div class='options {{if max_vote>1}} checkbox {{else}} radio{{/if}}' rel="{{:max_vote }}">
            <dl>
                <dt>{{:title}}
                    <span>(
                    {{if max_vote>1}}
                     可选{{:max_vote }} 项
                        {{else}}
                     单选
                    {{/if}})</span></dt>
                {{for options}}
                <dd rel={{:id}}><span class="tag"></span>{{:title}}</dd>
                {{/for}}
            </dl>
            <div class="text">

            </div>
        </div>
    </div>
</script>
<script>
    var to_user_str = null;
    var to_user_id = 0;

    var destory = function (id) {
        $.ajax({
            type: "get",
            url: '/comment/destory/' + id,
            success: function (data) {
                if (data.errCode) {
                    blinkShow(data.errMsg);
                    return;
                }

                blinkShow('删除成功');
                $('#com_' + id).closest('li').remove();
            },
            error: function (data) {
                if (data.status == 401) {
                    maskShow("登录之后才可以举报哦~");
                    return;
                }
            }
        });
    }


    var report = function (id) {
        $.ajax({
            type: "get",
            url: '/comment/report/' + id,
            success: function (data) {
                if (data.errCode) {
                    blinkShow(data.errMsg);
                    return;
                }

                blinkShow('举报成功');
            },
            error: function (data) {
                if (data.status == 401) {
                    maskShow("登录之后才可以举报哦~");
                    return;
                }
            }
        });
    }


    var up = function (id) {
        $.ajax({
            type: "get",
            url: '/comment/up/' + id,
            success: function (data) {
                if (data.errCode) {
                    blinkShow(data.errMsg);
                    return;
                }
                blinkShow("赞 +1");
                var name = "[name=up_" + data.id + "]";
                $(name).html("赞（" + data.up + "）");
            },
            error: function (data) {
                if (data.status == 401) {
                    maskShow("unlogin");
                    return;
                }
            }
        });

    }


    var comment = function () {
        var url = "/comment/add/article/" + 381940;
        var content = $('#conBox').val();

        if (to_user_str != null && content.startWith(to_user_str)) {
            url = "/comment/add/comment/" + to_user_id;
        }
        var _data = {
            'content': content.replace(to_user_str, ""),
            '_token': 'dp2AoTpnxikRAUio1OqabpJ0y5bOubeoWjzRoXa4'
        };

        $.ajax({
            type: "post",
            url: url,
            data: _data,
            success: function (data) {
                if (data.errCode) {
                    if (data.errCode == 401) {
                        maskShow('未登录');
                        return;
                    }
                    maskShow(data.errMsg);
                    return;
                }
                $('#conBox').val('');
                blinkShow("评论成功");
                $('#all_comment').empty();
                loadPage(1);
            },
            error: function (data) {
                if (data.status == 401) {
                    maskShow('未登录');
                } else if (data.responseJSON) {
                    msg = data.responseJSON.errMsg;
                    if (data.responseJSON.errCode == 40008) {
                        msg = '您当前处于封禁状态，不能发言';
                    }

                    maskShow(msg);
                } else {
                    mastShow('评论失败');
                }
            }
        });
    }


    var setCommentInfo = function (comment_id, user_name) {
        to_user_str = '回复@' + user_name + '的评论:';
        to_user_id = comment_id;
        $('#conBox').focus().val(to_user_str);
    }


    String.prototype.startWith = function (str) {
        var reg = new RegExp("^" + str);
        return reg.test(this);
    }


    var scroll_locked = false;
    var scroll_times = 1;
    var article_id = 381940;

    $(function () {
        $(document).scroll(function () {
            window.setTimeout(function () {
                if (scroll_times < 3 && !scroll_locked) {
                    var allHeight = document.body.scrollHeight;
                    var sHeight = document.documentElement.scrollTop || document.body.scrollTop;
                    var winHeight = document.documentElement.clientHeight;
                    var margin = allHeight - sHeight - winHeight;

                    if (margin < 1000) {
                        scroll_locked = true;
                        var page = 1;
                        if (request('page')) {
                            page = parseInt(request('page'));
                        }
                        page = page + scroll_times;
                        scroll_times = scroll_times + 1;

                        loadPage(page);

                    }
                }
            }, 100)
        });
        $('#comment').delegate('a.recom', 'click', function () {
            var comment_id = $(this).closest('.ctr').attr('rel');
            var user_name = $(this).closest('.ctr').attr('res');
            var logined = $('#loginStat').val();
            if (logined) {
                setCommentInfo(comment_id, user_name)
            } else {
                maskShow('unlogin');
                return false;
            }
        });
        $('#comment').delegate('a.report', 'click', function () {
            var comment_id = $(this).closest('.ctr').attr('rel');
            var logined = $('#loginStat').val();
            if (logined) {
                report(comment_id)
            } else {
                maskShow('unlogin');

            }
            return false;
        });
        $('#comment').delegate('a.zan', 'click', function () {
            var comment_id = $(this).closest('.ctr').attr('rel');
            var logined = $('#loginStat').val();
            if (logined) {
                up(comment_id)
            } else {
                maskShow('unlogin');
            }
            return false;
        });
        $('#comment').delegate('a.destory', 'click', function () {
            var comment_id = $(this).closest('.ctr').attr('rel');
            var logined = $('#loginStat').val();
            if (logined) {
                destory(comment_id)
            } else {
                maskShow('unlogin');
            }
            return false;
        });
        $('.detail a').each(function (index) {
            url = $(this).attr('href');
            if (url.match(/dongqiudi:\/\//i)) {
                url = url.replace('dongqiudi:///', 'http://www.dongqiudi.com/');
                url = url.replace('dongqiudi://', 'http://');
                url = url.replace('www.dongqiudi.com/news', 'www.dongqiudi.com/article')
                $(this).attr('href', url);
                $(this).attr('target', '_blank');
            }
        });

        $(document).pjax('.pagination a', '#pjax-container', {
            scrollTo: false
        });

        $(document).on('pjax:end', function () {
            scroll_locked = false;
            scroll_times = 1;
            $('.loading').css({
                visibility: 'hidden'
            });
        });

        checkVote();

    })

    function loadPage(page) {
        $('.loading').css({
            visibility: 'visible'
        });
        $.getJSON('/comment/' + article_id + '?page=' + page, function (data) {
            var html = data.data;
            $(html).appendTo('#all_comment');
            $('.pagination').replaceWith(data.render);
            $('.loading').css({
                visibility: 'hidden'
            });
            scroll_locked = false;
            if (scroll_times === 3) {
                $('.pagination').css('visibility', 'visible')
            }
        });
    }
</script>
<script>
    $('.match_tab a').click(function () {
        var index = $(this).index('.match_tab a');
        $(this).attr('class', "tab_active").siblings('.match_tab a').attr('class', '');
        $('.match_list').eq(index).show().siblings('.match_list').hide();
    });
</script>
<script src="https://test1-api.dongqiudi.com/static/js/d3.js"></script>

</html>